body {
  /* overflow: hidden; */
}

header {
  position: relative;
}

.exam {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
  width: 80%;
  margin: auto;
}